<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Nom</th>
        {% for size in sizes %}
            <th>{{ size.name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td><a href="/user/{{ user.id }}">{{ user.name }}</a></td>
        {% for size in sizes %}
            {%  for score in scores %}
                {% if score.length == size.length and score.height == size.height and score.mines == size.mines and score.player == user %}
                    <td>{{ score.duration }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>